@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Off-Black);
}

:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
    --attr: hsl(228, 45%, 44%);
}

.container{
    background-color: var(--Dark-Grey);
    color: var(--White);
    max-width: 400px;
    width: 100%;
    padding: 25px;
    border-radius: 10px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;

}


.image img{
    border-radius: 50%;
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.about{
    text-align: center;
}

.about h1{
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--White);
    margin-top: 15px;
    margin-bottom: 10px;
}

.about h3{
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--Green);
}

p{
    text-align: center;
    font-size: 0.7rem;
    font-weight: 250;
    color: var(--White);
    margin-top: 20px;
    margin-bottom: 10px;

}

.social-links{
    display: grid;
    gap: 0.5rem;
    margin-top: 10px;
}

.social-links ul{
    list-style-type: none;
}
.social-links .link li a {
    display: inline-block;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: var(--Grey);
    padding: 1rem;
    border: none;
    border-radius: 10px;
    text-align: center;
    color: var(--White);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.social-links .link li a:hover{
    background-color: var(--Green);
    color: var(--Dark-Grey);
}
.attribution { 
    font-size: 0.6rem; 
    text-align: center;
    margin-top: 16px; 
    color: var(--White);
}
.attribution a { 
    text-decoration:  none;
    color: var(--attr);
    transition: all 0.3s ease-in-out; 
}

.attribution a:hover{
    color: var(--Green);
}